.widget {
	flex: 1;
	padding: 2rem;
	margin-right: 2rem;
	box-shadow: rgba(17, 17, 26, 0.1) 0px 4px 16px, rgba(17, 17, 26, 0.05) 0px 8px 32px;
	border-radius: 1rem;
	&__title {
		font-size: 2.2rem;
		font-weight: 600;
	}
	&__list {
		display: flex;
		flex-direction: column;
		width: 100%;
		margin: 0;
		padding: 0;
		list-style-type: none;
		&--item {
			display: flex;
			align-items: center;
			justify-content: space-between;
			margin: 1.7rem 0;
		}
	}
	&__profile {
		width: 4.5rem;
		height: 4.5rem;
		border-radius: 50%;
		object-fit: cover;
	}
	&__user {
		display: flex;
		flex-direction: column;
		&--name {
			font-size: 1.2rem;
			font-weight: 700;
		}
		&--job {
			font-size: 1rem;
			font-weight: 300;
		}
	}
	&__viewProfile {
		display: flex;
		align-items: center;
		border: none;
		outline: none;
		border-radius: 1rem;
		padding: 0.7rem 1rem;
		cursor: pointer;
		background-color: #eeeef7;
		color: #555;
	}
	&__icon {
		font-size: 1.7rem !important;
		&:hover {
			color: #6d03d7;
		}
	}
}
